.videogamesContainer {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 0;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 0;

}



.menuContainer {

    padding: 0;
    margin: 0;

}

.filterContainer {

    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 0;

}

.searchBar {

    margin-right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px 13px;
    outline: 0;
    background: #8d888875;
    color: #7b7b7b;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

}

.searchButton {

    font-size: 1.5rem;

}

 .searchBar:hover,
 .searchBar:focus {

    color: #000000;
    background: #cccccc;

}

.titleFilterOrder {

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 0;
    margin: 0;
    color: rgb(227, 219, 219);

}

.selectFilter {

    margin-right: 10px;

}

.buttonsContainer {

    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 0.5rem;

}

.clearAndCreateContainer {

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;

}

.paginationButton {

    margin-right: 5px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 5px;

}

.spinner {

    border: 12px solid rgb(227, 219, 219);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-left-color: transparent;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: spin 1s linear infinite;

}

@keyframes spin {

    0% {

        transform: rotate(0deg);

    }

    100% {

        transform: rotate(360deg);

    }
}

.select {

    width: 100%;

}

.select select {

    font-family: 'Arial';
    cursor: pointer;
    padding: 5px 13px;
    outline: 0;
    border: 0px solid #b8acaccb;
    border-radius: 0px;
    background: #8d888875;
    color: #7b7b7b;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

}

.select select::-ms-expand {

    display: none;

}

.select select:hover,
.select select:focus {

    color: #000000;
    background: #cccccc;

}

.select select:disabled {

    opacity: 0.5;
    pointer-events: none;

}

button {

    box-shadow: inset 0px 1px 3px 0px #7a9692;
    background-color: rgba(182, 143, 143, 0.089);
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: #ffffffc5;
    font-family: Arial;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;

}

button:hover {

    background: linear-gradient(to bottom, #414747 5%, #768d87 100%);
    background-color: #414747;

}

button:active {

    position: relative;
    top: 1px;

}

body {

    background-image: url("../../assets/gamekbg_generated.jpg");

}

.notFound {

    color: #ffffffc5;
    width: 100vmax;
    text-align: center;
    font-size: 3rem;

}