.infoContainer {

    display: grid;
    row-gap: 1rem;
    text-align: center;

}

.detailContainer {

    background-image:  url("../../assets/Gaming-0_generated.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;

}

.homeButton {

    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.platAndGenrContainer {

    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

label {

    color: #ffffffc5;

}

span {

    color: #ffffffc5;

}