.welcome {

    color: #ffffffc5;
    text-align: center;
    font-size: 5rem;

}

.exploreContainer {

    text-align: center;
    margin-top: 25%;

}

.exploreLink {

    font-size: 3rem;

}